<div class="flex flex-col h-screen">
  <div class="mx-auto my-auto text-center">
    <h1 class="text-6xl mb-5">Checkout</h1>
    <h2 *ngIf="checkoutItems.length === 0 " class="text-3xl mb-5 text-gray-700">Your checkout is empty </h2>
    <div *ngIf="checkoutItems.length > 0" class="flex flex-col">
      <div *ngFor="let item of checkoutItems" class="flex flex-row justify-between">
        <div class="flex flex-row gap-36">
          <div class="mx-auto my-6">
            <div><img class="w-96 h-96 object-contain" src="{{item.image}}" alt="product image"></div>
          </div>
            <div class="mx-auto my-auto my-6">
              <h1 class="text-3xl mb-5">{{item.name}}</h1>
              <h2 class="text-3xl mb-5">Price: ${{item.price}}</h2>
              <h2 class="text-3xl mb-5">Quantity: {{item.quantity}}</h2>
            </div>
          </div>
          <div class="mx-auto my-6">
          </div>
        </div>
        <h3 class="my-20 text-4xl ">Subtotal({{this.subQuantity}}): ${{this.subTotals}}</h3>
      <div>
        <div><input class="text-center" id="Address" formControlName="Address" type="text" value="Street address or P.O. Box" placeholder="" required minlength ="1"  class="w-96 h-12 mt-5 mb-3 rounded-lg border-2 border-black"></div>
        <div><input class="text-center" id="City" formControlName="City" type="text" value="City" placeholder="City" class="w-96 h-12 mt-5 mb-3 rounded-lg border-2 border-black">
        <input class="text-center" id="State" formControlName="State" type="text" value="State" placeholder="State" class="w-96 h-12 mt-5 mb-3 rounded-lg border-2 border-black">
        </div>
        <div><input class="text-center" id="Zip" formControlName="Zip" type="text" value="Zip Code" placeholder="" required minlength ="5" class="w-96 h-12 mt-5 mb-3 rounded-lg border-2 border-black"></div>
        <div><input class="text-center" id="CC" formControlName="CC" type="text" value="Credit Card" placeholder="" required minlength ="9" class="w-96 h-12 mt-5 mb-3 rounded-lg border-2 border-black"></div>
        <div><input class="text-center" id="ccName" formControlName="ccName" type="text" value="Name on card" placeholder="" required minlength ="1" class="w-96 h-12 mt-5 mb-3 rounded-lg border-2 border-black"></div>
        <div><input class="text-center" id="expMonth" formControlName="expMonth" type="text" value="Exp. month" placeholder="" required minlength ="2" class="w-96 h-12 mt-5 mb-3 rounded-lg border-2 border-black">
          <input class="text-center" id="expYear" formControlName="expYear" type="text" value="Exp. year" placeholder="" required minlength ="4" class="w-96 h-12 mt-5 mb-3 rounded-lg border-2 border-black">
        </div>
        <div><input class="text-center" id="securityCode" formControlName="securityCode" type="text" value="CVV/CVC" placeholder="" required minlength ="3" class="w-96 h-12 mt-5 mb-3 rounded-lg border-2 border-black"></div>
        <button
          class="text-center text-3xl rounded-3xl bg-black ease-in-out duration-300 hover:bg-gray-500 tran text-white px-7 py-3"
          type="button" (click)="this.routeToConfirmationComponent()">Checkout
        </button>
      <div class="backButton">
        <button type="button" (click)="goBack()"
                class="text-center text-3xl rounded-3xl bg-black ease-in-out duration-300 hover:bg-gray-500 tran text-white px-7 py-3 fa fa-arrow-left fa-2x"
                type="button">&nbsp;&nbsp;Back
        </button>
        </div>
    </div>
  </div>
</div>


