<div class="flex my-10">
  <div *ngIf="isAdmin" class=" mx-auto grid grid-cols-2 text-2xl gap-5">
    <label for="new-product">Product name: </label>
    <input class="border border-black"id="new-product" #productName />
    <label for="new-product">Product price: </label>
    <input type="number" class="border border-black"id="new-product" #productPrice />
    <!-- <label for="new-product">Product category: </label>
    <input class="border border-black"id="new-product" #productCategory /> -->
    <label for="new-product">Product quantity: </label>
    <input type="number" class="border border-black"id="new-product" #productQuantity />
    <label for="new-product">Product description: </label>
    <input class="border border-black"id="new-product" #productDescription />
    <label for="new-product">Product image URL: </label>
    <input class="border border-black"id="new-product" #productImage />
  
    <button type="button" class="text-center text-xl rounded-3xl bg-black ease-in-out duration-300 hover:bg-gray-500 tran text-white px-7 py-3" (click)="add(productName.value, toNumber(productPrice.value),
    toNumber(productQuantity.value) , productDescription.value, productImage.value)">
      Add product
    </button>
  </div>
</div>
<ul class="grid grid-cols-3 lg:grid-cols-4 ">
  <li *ngFor="let product of products">
    <a routerLink="/detail/{{product.id}}">
      <div class="flex flex-col items-center justify-center my-10">
        <img class="w-64 h-64 object-contain" src="{{product.image}}" alt="product image">
        <div class="mt-5">
          <h3 class="text-2xl text-center">{{product.name}}</h3>
          <p class="text-xl text-center">${{product.price}}</p>
          <button></button>
        </div>
      </div>
    </a>
    <!-- <button type="button" class="delete" title="delete product"
  (click)="delete(product)">x</button> -->
  </li>
</ul>
