<div class="min-h-screen">
  <div class="flex my-10 mb-20">
    <div *ngIf="isAdmin" class=" mx-auto grid grid-cols-2 text-2xl gap-5">
      <label for="new-product">Product name: </label>
      <input class="border border-black"id="new-product" #productName />
      <label for="new-product">Product price: </label>
      <input type="number" class="border border-black"id="new-product" #productPrice />
      <label for="new-product">Product category: </label>
      <select class="border border-black" #productCategory >
        <option value="none" selected disabled hidden>Select a category</option>
        <option value="STRINGS">STRINGS</option>
        <option value="WOODWINDS">WOODWINDS</option>
        <option value="BRASS">BRASS</option>
        <option value="PERCUSSION">PERCUSSION</option>
        <option value="KEYBOARDS">KEYBOARDS</option>
      </select>
      <label for="new-product">Product quantity: </label>
      <input type="number" class="border border-black"id="new-product" #productQuantity />
      <label for="new-product">Product description: </label>
      <input class="border border-black"id="new-product" #productDescription />
      <label for="new-product">Product image URL: </label>
      <input class="border border-black"id="new-product" #productImage />
      <button type="button" class="text-center text-3xl rounded-3xl bg-black ease-in-out duration-300 hover:bg-gray-500 tran text-white px-7 py-3" (click)="add(productName.value, toNumber(productPrice.value),
      productCategory.value, toNumber(productQuantity.value) , productDescription.value, productImage.value)">
        Add product
      </button>
      <p *ngIf="alreadyExists" class="mx-auto my-auto text-red-500 "> {{productName.value}} already exists</p>
      <p *ngIf="invalid" class="mx-auto my-auto text-red-500 "> All Attributes Must Be Entered <br>Correctly</p>
    </div>
  </div>
  
  <div class="flex flex-col">
    <div class="search-box">
      <input id="search_box" type="search" placeholder="Search Products" [ngModel]="this.searchText" (ngModelChange)="this.changeSearch($event, categoryDropdown.value)">
      <button class="clr-btn" name="Reset Searched Products" (click)="this.reset()">clear</button>
    </div>
    <div class="flex flex-row mx-auto gap-10 mt-5">
      <h1 class="text-xl">
        Filter by Instrument Family
      </h1>
      <form class="my-auto">
      <select id="category" #categoryDropdown >
        <option value="">None</option>
        <option value="STRINGS">Strings</option>
        <option value="WOODWINDS">Woodwinds</option>
        <option value="PERCUSSION">Percussion</option>
        <option value="BRASS">Brass</option>
        <option value="KEYBOARDS">Keyboards</option>
      </select>
      </form>
      <button class="category text-center rounded-3xl bg-black ease-in-out duration-300 hover:bg-gray-500 tran text-white px-3 py-1" name="test" (click)="changeFilter(categoryDropdown.value)">Filter</button>
    </div>
  </div>
  <div *ngIf="products.length == 0" class="flex h-96">
    <h1 class="text-4xl my-auto mx-auto text-center">No products found</h1>
  </div>
  <ul class="grid grid-cols-3 lg:grid-cols-4 mb-48">
    <li *ngFor="let product of products">
      <a *ngIf="product.quantity > 0" routerLink="/detail/{{product.id}}">
        <div class="flex flex-col items-center justify-center my-10 transition ease-in-out hover:-translate-y-1 hover:scale-105 duration-300">
          <img class="w-64 h-64 object-contain" src="{{product.image}}" alt="product image">
          <div class="mt-5">
            <h3 class="text-2xl text-center">{{product.name}}</h3>
            <p class="text-xl text-center">${{product.price}}</p>
            <button></button>
          </div>
        </div>
      </a>
    </li>
  </ul>