<div class="flex flex-row align-middle items-stretch">
    <div class="flex px-64 py-48 text-5xl">
      <h2 id = 'Welcome' class="mx-auto">Welcome</h2>
    </div>
    <div class="flex px-16 py-48 text-5xl">
      <h2 id = 'To' class="mx-auto">To</h2>
    </div>
    <div class="flex px-72 py-40 text-5xl">
      <img id = 'logo' class ="object-contain" src="intune3.png" alt="product image">
    </div>
  </div>

  <script>
    addEventListener('onLoad', function(){
        document.getElementById('Welcome').classList.remove('scale-0');
        document.getElementById('Welcome').classList.add('scale-100');
    });
</script>
  <div id="rectangle" style="width:1920px; height:48px; background-color:black"></div>

<div class="flex py-16 text-5xl">
  <h2 class="mx-auto">Top Products</h2>
</div>
<ul class="grid grid-cols-3">
    <li *ngFor=" let product of sortList(topProducts)">
        <a routerLink="/detail/{{product.id}}">
            <div class="flex flex-col items-center justify-center my-10">
              <img class="w-64 h-64 object-contain" src="{{product.image}}" alt="product image">
              <div class="mt-5">
                <h3 class="text-2xl text-center">{{product.name}}</h3>
                <p class="text-xl text-center">${{product.price}}</p>
                <button></button>
              </div>
            </div>
          </a>
    </li>
</ul>

