
<div class="flex flex-row min-h-screen my-20 text-6xl gap-10"> 
  <div class="mx-auto my-auto font-bold">
  <div class="Welcome">
     <p>Welcome</p>
  </div>
</div>
<h1 class="mx-auto my-auto font-bold">
  <div class="To">
      <p>To</p>
  </div>
</h1>
<div class="mx-auto my-auto">
  <div class="Logo">
    <img src="../../assets/intune3.png" alt="logo image" class="w-64 h-32 object-cover"></div>
  </div>
</div>
<div id="rectangle" class="w-full h-2 bg-black "></div>


<!-- <div id="rectangle" class="w-screen h-2 bg-black "></div>  -->

<div class="flex py-16 text-5xl">
  <h2 class="mx-auto font-bold underline">Top Products</h2>
</div>
<ul class="grid grid-cols-3">
    <li *ngFor=" let product of sortList(topProducts)">
        <a routerLink="/detail/{{product.id}}">
            <div class="flex flex-col items-center justify-center my-10 transition ease-in-out hover:-translate-y-1 hover:scale-105 duration-300">
              <img class="w-64 h-64 object-contain" src="{{product.image}}" alt="product image">
              <div class="mt-5">
                <h3 class="text-2xl text-center">{{product.name}}</h3>
                <p class="text-xl text-center">${{product.price}}</p>
                <button></button>
              </div>
            </div>
          </a>
    </li>
</ul>

<div id="rectangle" class="w-full h-2 bg-black "></div>

<div class="flex flex-box my-20 text-5xl text-center"> 
  <h1 class="mx-auto my-auto underline font-bold">
    Mission Statement
  </h1>
</div>

<div class="flex flex-box h-[calc(100vh-500px)] my-20 text-3xl text-center"> 
  <div class="flex w-1/2 mx-auto leading-loose">
    <h1 class="mx-auto my-auto ">
      We at inTune strive to equip and educate musicians of all ages by providing them with high-quality products and readily available online lessons.
    </h1>
  </div>
</div>
