<div class="flex py-16 text-5xl">
  <h2 class="mx-auto">Top Products</h2>
</div>
<ul class="grid grid-cols-3">
    <li *ngFor=" let product of sortList(topProducts)">
        <a routerLink="/detail/{{product.id}}">
            <div class="flex flex-col items-center justify-center my-10">
              <img class="w-64 h-64 object-contain" src="{{product.image}}" alt="product image">
              <div class="mt-5">
                <h3 class="text-2xl text-center">{{product.name}}</h3>
                <p class="text-xl text-center">${{product.price}}</p>
                <button></button>
              </div>
            </div>
          </a>
    </li>
</ul>

