/* DashboardComponent's private CSS styles */
/* 
h2 {
    text-align: center;
  }
  
  .heroes-menu {
    padding: 0;
    margin: auto;
    max-width: 1000px;
  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;
  }
  
  a {
    background-color: #3f525c;
    border-radius: 2px;
    padding: 1rem;
    font-size: 1.2rem;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    text-align: center;
    width: 100%;
    min-width: 70px;
    margin: .5rem auto;
    box-sizing: border-box;
    gap: ;
    
  
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
  }
  
  @media (min-width: 600px) {
    a {
      width: 18%;
      box-sizing: content-box;
    }
  }
  
  a:hover {
    background-color: #000;
  } */

  @keyframes mymoveleft {
    from {left: 0px;}
    to {left: 200px;}
  }
  .Welcome {
    /* animation: mymoveleft;
    -webkit-animation: mymoveleft;
  -moz-animation: mymoveleft;
  -o-animation: mymoveleft;
  -ms-animation: mymoveleft; */
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn ;
  -moz-animation-name: fadeIn ;
  -o-animation-name: fadeIn ;
  -ms-animation-name: fadeIn ;
  animation-delay: 0s;
  animation-duration: .5s;
  }
  .To {
    /* animation: mymovetop 5s;
    -webkit-animation: mymovetop 5s;
  -moz-animation: mymovetop 5s;
  -o-animation: mymovetop 5s;
  -ms-animation: mymovetop 5s; */ 
    opacity: 0;
    animation-name: fadeIn ;
    -webkit-animation-name: fadeIn ;
    
  -moz-animation-name: fadeIn ;
  -o-animation-name: fadeIn ;
  -ms-animation-name: fadeIn ;
  animation-delay: .5s;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  }
  .Logo {
    /* animation: mymoveleft;
    -webkit-animation: mymoveleft;
  -moz-animation: mymoveleft;
  -o-animation: mymoveleft;
  -ms-animation: mymoveleft; */
  opacity: 0;
  animation-name: fadeIn ;
  -webkit-animation-name: fadeIn ;
  -moz-animation-name: fadeIn ;
  -o-animation-name: fadeIn ;
  -ms-animation-name: fadeIn ;
  animation-delay: 1s;
  animation-duration: .75s;
  animation-fill-mode: forwards;
  }
  @keyframes mymoveleft {
    from {left: -200px;}
    to {left: 0px;}
  }
  @keyframes mymovetop {
    from {top: -200px;}
    to {top: 0px;}
  }
  @keyframes mymoveright {
    from {right: 0px;}
    to {right: -200px;}
  }
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }