button {
    justify-content: center;
}

#prompt {
    padding-top: 10%;
    min-height: 30px;
    max-height: 30px;
}

#lessons {
    padding-left: 10%;
    padding-right: 10%;
}

.lesson {
    padding: 4%;
}

.scheduled {
    padding-left: 10%;
}